doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css') 
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(src='http://underscorejs.org/underscore-min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/game.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    header(id='player-status')

    label(for="player-name") player name
    br
    input(type="text", name="player-name", id="player-name", class="span8")
    br
    br
    select(id="register-country", name="register-country")
        option(value='Thailand') thailand
        option(value='Vietnum') vietnum
        option(value='Singapore') Singapore
        option(value='Malaysia') Malaysia
    br
    button(id="register-country-btn") decide
    br
    br
    div(id="countries")
    br
    br
    br
    input(type="text", name="message", id="message")
    button(id="init-start") init:start
    button(id="start") start
    button(id="draw_card") draw card
    button(id="turn_start") turn start
    br
    br
    label(for="target-country") target-country
    br
    select(id="target-country", name="action")
        option(value='Thailand') thailand
        option(value='Vietnum') vietnum
        option(value='Singapore') Singapore
        option(value='Malaysia') Malaysia
    br
    label(for="amount") Amount
    br
    input(type="text", name="amount", id="amount")
    br
    label(for="action-type") select-actions
    br
    select(id="action-type", name="action")
        option(value='buy') buy
        option(value='sell') sell
    br
    br
    button(id="action-btn") Send Action
    br
    br
    label(for="bet-money") money
    input(id="bet-money", name="bet-money", type="text")
    button(id="bet-money-btn", name="bet-money-btn") bet-money
    button(id="turn_end") turn end
    div(id="current-notification")

    label(for="chat") チャット
    br
    input(type="text", name="chat", id="chat-msg")
    button(id="chat-button") 送信
    br
    div(id="chat-area")
