doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css') 
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chat.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/style.styl')
    script(src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(src='http://underscorejs.org/underscore-min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/game.js')
    script(src='/bootstrap/js/bootstrap.min.js')

  body
    header.navbar.navbar-fixed-top.navbar-inverse
      div.navbar-inner
        div.container
          nav
            ul.nav.navbar-nav.pull-left.span3
              li
                h1.white NMG
            div#game-status.span3
              #turn-owner.white.status
                .field
                  div This turn :    
                .value.white
              #player-name.white.status
                .field
                  div Your name :     
                .value
              #cash.white.status
                .field
                  div Cash :     
                .value.white
              #stock.white.status
                .field
                  div Product stock :    
                .value.white

            ul.nav.navbar-nav.span3
              li
                h4.white player name
                label(for="player-name")
                input(type="text", name="player-name", id="player-name-form")
            div.nav.navbar-nav.pull-right.span3
                select(id="register-country", name="register-country")
                    option(value='Vietnum') Vietnum
                    option(value='Singapore') Singapore
                    option(value='Thailand') Thailand
                    option(value='Malaysia') Malaysiaa
                button.btn(id="register-country-btn") deside
                    br
                .btn-group
                  button.btn(id="init-start") entry
                  button.btn(id="start") Game start!
    div.container
      div.row
        //- 左側の枠
        div.span3
          div.text-center.line-menu-left Select Action
          //- input(type="text", name="message", id="message")
          br
          button.btn(id="draw_card") draw card
          br
          br
          .btn-group
            button.btn(id="turn_start") turn start
            button.btn(id="turn_end") turn end
            
          br
          br
          div.size23 A-action
          div.menu-border
            //- 行動選択
            br
            label(for="action-type")
              div.size17 Select-actions
            select(id="action-type", name="action")
                option(value='buy') buy
                option(value='sell') sell
                option(value='create_product') create_product
            br
            //- 購入部分
            label(for="target-country")
              div.size17 target-country
            select(id="target-country", name="action")
                option(value='Vietnum') Vietnum
                option(value='Singapore') Singapore
                option(value='Thailand') Thailand
                option(value='Malaysia') Malaysia
            br
            label(for="amount")
            div.size17 Amount
            input(type="text", name="amount", id="amount")
            br
            div.center
              button.btn-info(id="action-btn") Send Action
            br
          br
          br
          div.size23 Auction
          div.menu-border
            br
            label(for="bet-money")
              div.size17 Money
            input(id="bet-money", name="bet-money", type="text")
            div.center
              button.btn-info(id="bet-money-btn", name="bet-money-btn") bet-money
            div(id="current-notification")
            br
          br
          br
          div.center
            button.btn-large.btn-warning(id="game-end") game end
        //- 真ん中の枠
        div.span6
          div.text-center.line-menu-center Market
          br
          table.table.table-striped.table-bordered(id="countries")
            thead
              tr
                th Country name
                th Market scale
                th Market demand
                th Max price
                th Buying price
                th Head office
            tbody
        //- 右側の枠
        div.span3
          div.text-center.line-menu-right Chatroom
          
          input(type="text", name="chat", id="chat-msg")
          button.btn(id="chat-button") Send
          br
          div(id="chat-area")

    