doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css') 
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style.styl')
    script(src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(src='http://underscorejs.org/underscore-min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/game.js')
    script(src='/bootstrap/js/bootstrap.min.js')


  //- body
  //-   header(id='player-status')

  //-   label(for="player-name") player name
  //-   br
  //-   input(type="text", name="player-name", id="player-name", class="span8")
  //-   br
  //-   br
  //-   select(id="register-country", name="register-country")
  //-       option(value='Thailand') thailand
  //-       option(value='Vietnum') vietnum
  //-       option(value='Singapore') Singapore
  //-       option(value='Malaysia') Malaysia
  //-   br
  //-   button(id="register-country-btn") decide
  //-   br
  //-   br
  //-   div(id="countries")
  //-   br

  body
    header.navbar.navbar-fixed-top.navbar-inverse
      div.navbar-inner
        div.container
          nav
            ul.nav.navbar-nav.pull-left
              li
                h1 NMG
            ul.nav.navbar-nav.pull-right
              li
                h4 player name
                label(for="player-name")
                input(type="text", name="player-name", id="player-name", class="span6")
              li
                select(id="register-country", name="register-country")
                    option(value='Thailand') thailand
                    option(value='Vietnum') vietnum
                    option(value='Singapore') Singapore
                    option(value='Malaysia') Malaysia
                br
                .btn-group
                  button.btn(id="register-country-btn") decide
                  button.btn(id="init-start") init:start
    div.container
      div.row
        div.span3
          input(type="text", name="message", id="message")
          br
          button.btn(id="start") start
          button.btn(id="draw_card") draw card
          button.btn(id="turn_start") turn start
          br
          br
          label(for="target-country") target-country
          br
          //- 購入部分
          select(id="target-country", name="action")
              option(value='Thailand') thailand
              option(value='Vietnum') vietnum
              option(value='Singapore') Singapore
              option(value='Malaysia') Malaysia
          br
          label(for="amount") Amount
          br
          input(type="text", name="amount", id="amount")
          br
          label(for="action-type") select-actions
          br
          //- 行動選択
          select(id="action-type", name="action")
              option(value='buy') buy
              option(value='sell') sell
              option(value='create_product') create_product
          br
          br
          button.btn(id="action-btn") Send Action
          br
          br
          label(for="bet-money") money
          input(id="bet-money", name="bet-money", type="text")
          button.btn(id="bet-money-btn", name="bet-money-btn") bet-money
          button.btn(id="turn_end") turn end
          div(id="current-notification")

        div.span6 
          div(id="countries")
          //- br
          //- br
          //- br

        div.span3 
          //- チャット▶︎別枠を作成
          label(for="chat") チャット
          br
          input(type="text", name="chat", id="chat-msg")
          button.btn(id="chat-button") 送信
          br
          div(id="chat-area")

    