doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(src='http://underscorejs.org/underscore-min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/game.js')
  body
    //- block content
    input(type="text", name="message", id="message")
    button(id="start") start
    button(id="draw_card") draw card
    button(id="turn_start") turn start
    button(id="turn_end") turn end
    button(id="bet") bet
    button(id="bet") bet
    div(id="current-notification")