#chat-area
  display: block
  margin-top: 30px
  border: 2px solid
  border-radius: 3px
  .chat-container
    padding: 10px 0px 10px 10px
    .sender
      font-weight: bold 
      display: inline-block
    .message
      display: inline-block
